.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Full-screen overlay styles */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden; /* Prevent scrolling when overlay is active */
}

/* Full-screen image styling */
.full-screen {
  width: 100vw; /* Make the image take up the full viewport width */
  height: 100vh; /* Make the image take up the full viewport height */
  object-fit: contain; /* Ensures the image maintains its aspect ratio */
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Gallery image thumbnails styles */
.thumbnail {
  width: 150px; /* Set a fixed width for the images */
  height: 150px; /* Set a fixed height to make images consistent */
  object-fit: cover; /* Ensure the image covers the box without distortion */
  cursor: pointer; /* Indicate that the image is clickable */
  transition: all 0.3s ease-in-out;
}

/* Optional: Hover effect for images */
.thumbnail:hover {
  opacity: 0.8;
  transform: scale(1.05);
}
